@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family:'Open Sans', sans-serif;
    margin: 0;
}

.main__about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
}

.about-page__title {
    font-size: 2.75em;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.6;
    font-family: "Virgil";
}

.section {
    margin: 10px;
}

.section__title {
    margin-bottom: 10px;
    opacity: 0.6;
    font-family: "Virgil";
    font-size: 1.75em;
}

.section__team-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.section__team-image {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.section__team-name {
    font-weight: bold;
}

.ul__project-why {
    padding: 25px 45px;
}

.section__project-img{
   width: 100%;
   margin: 25px 0 0;
}

.section__project-img-caption {
    text-align: center;
    font-size: .75em;
}

.section__project-p {
    margin-top: 1em;
}

@media only screen and (max-width: 830px) {
    .about-page__title {
        font-size: 4em;
    }

    .main__about-page {
        margin: 50px 100px;
    }
  }

@media only screen and (max-width: 575px) {
    .about-page__title {
        font-size: 4em;
    }

    .main__about-page {
        margin: 50px 50px;
    }
  }