@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family:'Open Sans', sans-serif;
    margin: 0;
}

.main__about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.about-page__title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.6;
    font-family: "Virgil";
}

.section {
    margin: 10px;
}

.section__title {
    margin-bottom: 10px;
    opacity: 0.6;
    font-family: "Virgil";
    font-size: 1.75em;
}

.section__team-images-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    margin: 10px;
    text-align: center;
}

.section__team-image {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.section__team-name {
    font-weight: bold;
}

.profile-links {
    justify-self: space-between;
    margin-top: 6px;
}

.icon {
    color: black;
}

.ul__project-why {
    padding: 25px 45px;
}

.section__project-img{
   width: 100%;
   margin: 25px 0 0;
}

.section__project-img-caption {
    font-size: .75em;
}

.section__project-p {
    margin-top: 1em;
}

@media only screen and (min-width: 575px) {
    .about-page__title {
        font-size: 4em;
    }

    .main__about-page {
        margin: 50px 150px;
    }

    .section__team-image {
        margin-bottom: 10px;
        width: 150px;
    }

    .section__team-images-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        margin: 2.5em 0;
        font-size: .75em;
    }
  }

@media only screen and (min-width: 950px) {

    .main__about-page {
        margin: 50px 150px;
    }

    .section__team-images-container {
        grid-template-columns: repeat(4, 1fr);
    }
  }