@font-face {
  font-family: "Virgil";
  src: url("../public/Virgil.woff2") format("woff2");
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --header-height: 85px;
  --sidebar-width: 400px;
  --theme-color: rgb(210, 194, 158);
}

* {
  margin: 0;
}

.login__main-container,
.signup__main-container {
  margin-top: 75px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title,
.signup__title {
  font-size: 2.5em;
  margin-bottom: 32px;
  opacity: 0.6;
  font-family: "Virgil";
}

.login__subtitle {
  margin-bottom: 0;
}

.login__message {
  margin-top: 10px;
  opacity: 0.8;
}

.link {
  color: hsl(226, 79%, 57%);
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}



.login-form {
  margin: 2.25em 0 0 0;
}

.signup-form {
  margin-top: 1em;
}

.signup-form {
  justify-self: center;
  align-self: center;
}

.signup-form__container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.inputField {
  border-radius: 5px;
  border: 0.1px solid black;
  padding: 7px 10px;
  margin: 10px 0;
  width: 300px;
}

.inputLabel {
  font-size: 1em;
  opacity: 0.8;
}

.modal__title {
  font-family: "Virgil";
}

.inputLabel-modal {
  font-size: 1em;
  opacity: 0.8;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formButton {
  font-size: 1em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding: 8px 35px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  margin: 8px 0;
}

.formButton:active {
  background-color: var(--theme-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.formButton-create {
  font-size: 1em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding: 8px 35px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.login-form-password-div,
.signup-form-password-div {
  position: relative;
}

.login__container-more-info-section {
  margin-top: 0;
  text-align: center;
}

.more-info__signup {
  margin-bottom: 1.25em;
}

.signup-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileimage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileimage__button {
  height: 100px;
  aspect-ratio: 1/1;
  border: 0.1px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.profileimage__caption {
  font-size: 0.75em;
}

.selectImage__container {
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.custom-file-upload {
  font-size: 0.9em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 8px;
  padding-inline: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
  object-fit: cover;
}

.hidden {
  display: none;
  visibility: hidden;
}

.login-form__password-visibility,
.signup-form__password-visibility {
  cursor: pointer;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 2%;
}

.error__container {
  justify-self: center;
  align-self: center;
}

.error__text {
  font-family: inherit;
  color: red;
  font-size: 0.85em;
}

.google-signin {
  margin-bottom: 15px;
}

.login-google-btn, 
.signup-google-btn {
  display: flex;
}

.login-google-icon {
  padding-right: 5px;
}


/* Canvas Styles */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  height: var(--header-height);
  margin-inline: 40px;
}

.Sidebar {
  position: absolute;
  top: var(--header-height);
  right: 0;
  height: 91vh;
  width: var(--sidebar-width);
  padding-inline: 20px;
}

.project__container {
  background-color: rgb(245, 245, 245);
  height: calc(100vh - var(--header-height));
  border-radius: 20px;
  margin-right: var(--sidebar-width);
  padding-block: 25px;
  padding-inline: 25px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-image: radial-gradient(#abacaf 0.5px, rgb(245, 245, 245) 0.5px);
  background-size: 10px 10px;
  margin-left: 20px;
}

.createProject__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__logo {
  font-size: 1.5em;
  opacity: 0.8;
  font-family: "Virgil";
}

.canvas__container {
  display: flex;
  gap: 20px;
}

.canvas {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto;
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
  height: 100%;
  width: calc(100% - 150px);
}

.widget {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.widget-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

.widget-container__date {
  font-size: 1em;
  opacity: 0.8;
  font-family: "Virgil";
  margin-bottom: 0;
}

.widget-container__remove-btn {
  font-size: 1.1em;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.widget__select {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--theme-color);
}

.widget__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: white;
}

.high {
  grid-column: auto / span 2;
}

.medium {
  grid-column: auto / span 1;
}

.createwidget__button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: var(--theme-color);
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
}

.collaborator__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collaborator__containerbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 40px;
  background-color: var(--theme-color);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 7px;
  border: none;
}

.collaborator__infocontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.collaborator__name {
  margin: 0;
  padding: 0;
}

.collaborator__btn {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 7px;
  border: none;
  font-size: 0.8em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  cursor: pointer;
  height: 35px;
  width: 70px;
}

.box {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: white;
}

.layout {
  width: 100%;
}

.whiteboard__body {
  background-color: #f2f2f2;
}

.whiteboard__title {
  font-family: "Virgil";
  width: 145px;
  opacity: 0.8;
}

.whiteboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-inline: 25px;
}

.whiteboard__control-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.whiteboard__controlers {
  display: flex;
  justify-content: space-between;
  margin-block: 8px;
  margin-inline: 20px;
  width: 400px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.whiteboard__control {
  display: flex;
  width: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2px;
}

.whiteboard__control-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.whiteboard__control-text {
  font-size: 0.8em;
  opacity: 0.7;
  padding: 0;
  margin: 0;
}

.whiteboard__control-image {
  opacity: 0.7;
  height: 30px;
  width: 30px;
}

.widget__btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.widget-container__save-btn {
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.widget-container__close-btn {
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.image-options-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-inline: 25px;
}

.image-options-searchbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 10px;
  border: none;
  width: 445px;
}

.image-options-textfield {
  background-color: #f2f2f2;
  border-radius: 6px;
  width: 100%;
  border: none;
}

.image-options-textfield[type="text"] {
  padding-left: 15px;
}

.image-options-btn {
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 6px;
  padding-inline: 5px;
  padding-block: 2px;
}

.whiteboard__photo {
  height: 70%;
  width: 100%;
}

.postit {
  background-color: rgb(237, 231, 128);
}

.postit,
.textblock,
.wbImageItem {
  display: flex;
  flex-direction: column;
  cursor: grab;
}

.postit__text,
.textblock__text {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 5px 10px;
}

.postit__text:focus,
.textblock__text:focus,
.wbImageItem:focus {
  outline: none;
}

.postit:hover,
.textblock:hover,
.wbImageItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.postit__btn,
.textblock__btn,
.wbImageItem__btn {
  position: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transition: ease-in-out;
  transition-property: color, background-color;
  transition-duration: 0.5s;
  border-radius: 50%;
  border: none;
  align-self: flex-end;
  z-index: 100;
  top: 5px;
  right: 5px;
}

.postit:hover .postit__btn,
.textblock:hover .textblock__btn,
.wbImageItem:hover .wbImageItem__btn {
  transition: ease-in-out;
  transition-property: color, background-color;
  transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
.wbImageItem__img {
  position: inherit;
  z-index: inherit;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.wbImageItem__btn {
  position: relative;
  bottom: 15px;
}

.gallery__container {
  padding-inline: 20px;
  padding-block: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  background: rgb(245, 245, 245);
}

.gallery__btn {
  border: none;
  overflow: hidden;
}

.gallery__image {
  border-radius: 10px;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery__container__link {
  padding-inline: 20px;
  padding-block: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  background: rgb(245, 245, 245);
}

.gallerylink__btn {
  border: none;
  overflow: hidden;
}

.gallerylink__image {
  border-radius: 10px;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.createProjectBtn {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  align-items: center;
  align-self: center;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: var(--theme-color);
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
}

.createProjectBtn__plus {
  position: relative;
  bottom: 5px;
  margin: 0;
  padding: 0;
  font-family: "Virgil";
  font-size: 2em;
  height: 100%;
  width: 100%;
  color: white;
}

.createWidgetBtn__plus {
  position: relative;
  bottom: 5px;
  margin: 0;
  padding: 0;
  font-family: "Virgil";
  font-size: 3em;
  height: 100%;
  width: 100%;
  color: white;
}

.Sidebar__sendbtn,
.logoutBtn {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 7px;
  padding: 5px 10px;
  border: none;
  background-color: var(--theme-color);
  color: white;
  font-weight: 500;
}

.headerSearchField {
  height: calc(var(--header-primary-toolbar-height) * 0.4);
  background-color: rgb(242, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 7px;
  padding-inline: 15px;
  border-width: 1px;
  border-radius: 8px;
  width: 240px;
  border-color: var(--theme-color);
}

.logoutBtn__text {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 500;
}

.UserProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 1px;
  border-color: var(--theme-color);
}

.Sidebar__messagebubble-self {
  margin-block: 10px;
  margin-inline: 20px;
  padding-inline: 20px;
  padding-block: 20px;
  background-color: var(--theme-color);

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 10px;
  border: none;
  color: white;
}

.Sidebar__messagebubble-other {
  margin-block: 10px;
  margin-inline: 20px;
  padding-inline: 20px;
  padding-block: 20px;
  background-color: rgb(239, 239, 239);

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 10px;
  border: none;
}

@media only screen and (min-width: 575px) {
  .login__title,
  .signup__title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1500px) { 
  .widget-container__date {
    font-size: 1.25em;
  }

  .widget__select {
    font-size: .85em;
  }
}

