@font-face {
  font-family: "Virgil";
  src: url("../public/Virgil.woff2") format("woff2");
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --base-spacing: 8px;
  --header-height: 85px;
  --sidebar-width: 400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.link {
  color: #4059AD;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  height: var(--header-height);
  margin-inline: 40px;
}

.Sidebar {
  position: absolute;
  top: var(--header-height);
  right: 0;
  height: 91vh;
  width: var(--sidebar-width);
  padding-inline: 20px;
}

.project__container {
  background-color: rgb(245, 245, 245);
  height: calc(100vh - var(--header-height));
  border-radius: 20px;
  margin-right: var(--sidebar-width);
  padding-block: 25px;
  padding-inline: 25px;
}

.signup__title,
.signup__subtitle,
.login__title,
.login_subtitle {
  position: relative;
  display: flex;
  justify-content: center;
}

.signup__title,
.login__title {
  font-size: 4em;
  margin-bottom: 30px;
  opacity: 0.6;
  font-family: "Virgil";
}

.Logo {
  font-size: 1.5em;
  opacity: 0.8;
  font-family: "Virgil";
}

.signup__subtitle,
.login_subtitle {
  margin-bottom: 10px;
}

.login__message {
  margin-top: 10px;
  opacity: 0.8;
}

.signup__container {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.profileimage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileimage__button {
  height: 100px;
  aspect-ratio: 1/1;
  border: 0.1px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.profileimage__caption {
  font-size: 0.75em;
}

.selectImage__container {
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.custom-file-upload {
  font-size: 0.9em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 8px;
  padding-inline: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
  object-fit: cover;
}

.hidden {
  display: none;
  visibility: hidden;
}

.inputField {
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 7px;
  padding-inline: 10px;
  width: 300px;
}

.inputLabel {
  font-size: 1em;
  opacity: 0.8;
}

.main {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.formButton {
  font-size: 1em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 8px;
  padding-inline: 35px;
  cursor: pointer;
}

.error__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.error__text {
  color: red;
  font-size: .85em;
}

.canvas__container {
  display: flex;
  gap: 20px;
}

.canvas {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto;
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
  height: 100%;
  width: calc(100% - 150px);
}
.widget-container {
  display: flex;
  justify-content: space-between;
}

.widget {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.widget__select {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 5px;
  padding-inline: 10px;
  border-width: 0px;
  border-radius: 13px;
}

.widget-container__remove-btn {
  font-size: 1.1em;
  opacity: 0.8;
  cursor: pointer;
  height: 35px;
  width: 55px;
  border: none;
  background-color: transparent;
}

.widget__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: white;
}

.high {
  grid-column: auto / span 2;
}

.medium {
  grid-column: auto / span 1;
}

.createwidget__button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: white;
}

.widget-container__date {
  margin: 0px;
  margin-left: 25px;
  font-size: 1.5em;
  opacity: 0.8;
  font-family: "Virgil";
}

.collaborator__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collaborator__infocontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.collaborator__name {
  margin: 0;
  padding: 0;
}

.collaborator__btn {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 7px;
  border: none;
  font-size: 0.8em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  cursor: pointer;
  height: 35px;
  width: 70px;
}

.box {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: white;
}

.layout {
  width: 100%;
}

.whiteboard__body {
  background-color: #f2f2f2;
}

.whiteboard__title {
  font-family: "Virgil";
  opacity: 0.8;
}

.whiteboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-inline: 25px;
}

.whiteboard__control-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.whiteboard__controlers {
  display: flex;
  justify-content: space-between;
  margin-block: 8px;
  margin-inline: 20px;
  width: 250px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.whiteboard__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 2px;
}

.whiteboard__control-btn {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
}

.whiteboard__control-text {
  font-size: 0.8em;
  opacity: 0.7;
  padding: 0;
  margin: 0;
}

.whiteboard__control-image {
  opacity: 0.7;
  height: 100%;
  width: 100%;
}

.widget__btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.widget-container__save-btn {
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.widget-container__close-btn {
  padding-block: 10px;
  padding-inline: 20px;
  border: none;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.whiteboard__photo {
  height: 100%;
  width: 100%;
}
.postit {
  background-color: yellow;
}

.postit__text {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 5px 10px;
}

.postit__text:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.textblock__text {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 5px 10px;
  font-weight: bold;
}

.textblock__text:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  outline: 0.1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.inputField--password {
  position: relative;
}

.formPasswordVisibility {
  cursor: pointer;
  position: absolute;
  right: 4px;
  bottom: 55px;
  border: none;
  background: transparent;
  margin: 2px;
}
