:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.signup__title,
.signup__subtitle,
.login__title,
.login_subtitle {
  position: relative;
  display: flex;
  justify-content: center;
}

.signup__title,
.login__title {
  font-size: 5em;
  margin-bottom: 30px;
  opacity: 0.8;
}

.signup__subtitle,
.login_subtitle {
  margin-bottom: 10px;
}

.login__message {
  margin-top: 10px;
  opacity: 0.8;
}

.signup__container {
  width: 100%;
  height: 100%;
}

.profileimage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileimage__button {
  height: 100px;
  aspect-ratio: 1/1;
  border: 0.1px solid black;
  border-radius: 50px;
  cursor: pointer;
}

.selectImage__container {
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.custom-file-upload {
  font-size: 0.9em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 8px;
  padding-inline: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px;
  object-fit: cover;
}

.hidden {
  display: none;
  visibility: hidden;
}

.inputField {
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 7px;
  padding-inline: 80px;
}

.inputLabel {
  font-size: 1em;
  opacity: 0.8;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.formButton {
  font-size: 1em;
  opacity: 0.8;
  border-radius: 5px;
  border: 0.1px solid black;
  padding-block: 8px;
  padding-inline: 35px;
  cursor: pointer;
}

.error__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  border: 0.1px solid black;
}
.error__text {
}
