.Header {
    outline: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    height: 85px;
}

.page:root {
    --base-spacing: 8px;
    --header-height: 85px;
    --sidebar-width: 250px;
}
.Sidebar {
    outline: 1px solid black;
    position: absolute;
    top: var(--header-height);
    right: 0;
    height: 91vh;
    width: var(--sidebar-width);
}